@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer components {
  .waitlist-input {
    @apply appearance-none focus:outline-none focus:ring-0 focus:shadow-none focus-visible:border-b-2 bg-none border-0 border-b border-white px-2 py-1 text-white;
  }
}

/* Autofill overrides for Chrome / WebKit */
.waitlist-input:-webkit-autofill,
.waitlist-input:-webkit-autofill:hover,
.waitlist-input:-webkit-autofill:focus,
.waitlist-input:-webkit-autofill:active {
  /* text color */
  -webkit-text-fill-color: #ffffff !important; /* Tailwind gray-900 */
  /* remove yellow-ish background: extend box-shadow inset to cover background */
  
  /* keep caret visible */
  caret-color: #11182700 !important;
  /* optionally reduce autofill transition jump */
  transition: background-color 5000s ease-in-out 0s;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-instrument: var(--font-instrument);

  --text-big: var(--text-big);
  --text-medium: var(--text-medium);
  --text-small: var(--text-small);

  --color-main: var(--color-main);
  --color-secondary: var(--color-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-big: 64px;
    --text-medium: 24px; 
    --text-small: 16px; 
    --color-main: #FD5E32; 
    --color-secondary: #B7CE4E;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
}
